# This file contains a user admin with the password admin
# the password is safed as a hashed version
# DO NOT WRITE REAL PASSWORDS TO THIS FILE

# Instead, change the name of the file to .htpasswd
# And change the password file used in 'default.conf' to use your new file

# Then rebuild the nginx container by using the --build flag for the docker compose up command



admin:$apr1$URzYSUnF$i/3Jqxzy7afCWJUSJMM4L1
